@import "_gameBoard";

body {
    padding:0;
    margin:0;
    background-color: #009432;
}

.center {
    box-shadow: 0 0 0 4px navy;
}
.active {
    box-shadow: 0 0 0 4px orangered;
}

.active:hover {
    cursor:pointer;
}


